*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border:none;
    font-family:system-ui;

}


.navigation{
    width:100%;
    height:100vh;
    background-color: rgb(83, 6, 83);
    position: relative;
}
nav{
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;+
}
.logo{
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    cursor:pointer;
    transition:ease 1000ms;
}

.logo span{
    color: aqua;
}
.logo:hover{
    transform:scale(1.1);

}

nav ul{
    display:flex;
    gap:1rem;

}

nav a{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor:pointer;
    transition:ease 1000ms;
}
nav a:hover{
    color: aqua;
}
nav a:hover, nav ul .active{
    color: aqua;
}

.content{
   max-width: 650px;
   padding:10px 25px;
   position:absolute;
   top:30%;
   left: 4%;

}
    .content h1{
        font-size: 2rem;
        font-weight: bold;
        color:white;
        padding:5px 5px;

    }
    
.content p{
    font-size: .95rem;
    font-weight:bold;
    color:aqua;


}
.content .info{
    font size: .6rem;
    padding:10px 0;
    color:white;
    max-width: 450px;
}
.btn{
    margin:20px 0;
    width:300px;
    display:flex;
    gap:2rem;

}
.btn button{
    padding:10px 27px;
    background-color: aqua;
    border-radius: 5px;;
}
.btn button a{
    font-size: .9rem;
    font-weight: bold;
    color: white;
    text-decoration: none;

}
.btn button:hover{
    box-shadow: 0 0 10px aqua;
}
.btn .sbtn{
    color:aqua;
    background-color: transparent;
    border: 1px solid aqua;
}
.btn .sbtn a{
    color:aqua
}
.socials{
    margin-top: 40px;
    margin left: 50px;
    display: flex;
    gap: 2rem;
}
.socials img{
    width: 30px;
    height: 30px;
    background-color: aqua;
    border-radius: 60%;
    cursor: pointer;
}
.socials img:hover{
    box-shadow: 0 0 20px aqua;


}
.profile{
    width:490px;
    height:430px;
    background:url(webprofile.webp) no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: ease 1000ms;
    position: absolute;
    top: 10%;
    right: 5%;
}
.profile:hover{
    opacity: 0.5;
}